```{=html}
<div class="teaching">
    <% for (const course of items) { %>
        <div class="body">
            <p class="course-title"><strong><%= course.title %></strong></p>
            <p class="course-details">
                <span class="course-number"><%= course.number %></span> | 
                <span class="course-university"><%= course.university %></span></p>
            <% if (course.description) { %>
                <p class="course-description"><%= course.description %></p>
            <% } %>
            <% if (course.syllabus) { %>
                <a style = "text-decoration: none;" href="<%= course.syllabus %>" target="_blank"><button class="button"><span> Syllabus </span></button></a>
                <br>
            <% } %>
        </div>
    <% } %>
</div>
```